
 <nav class="main-navigation">
    <div class="navbar-header animated fadeInUp">
        <a class="navbar-brand" href="#">Booking.com</a>
    </div>
    <ul class="nav-list">
        <li class="nav-list-item">
            <a routerLink="/discounts" class="nav-link">Manage Discounts</a>
        </li>
        <li class="nav-list-item">
            <a href="/airlines" class="nav-link">Manage Airlines</a>
        </li>
        <li class="nav-list-item">
            <a href="/flights" class="nav-link">Manage Flights</a>
        </li>
        <li class="nav-list-item">
            <a href="#" class="nav-link">Reports</a>
        </li>
    </ul>

</nav>